* {
    font-family: Helvetica, Arial;
    margin: 0;
    padding: 0;
}

header {
    background-color: #444557;
    color: #EAEFEF;
    padding: 10px;
}

body {
    background-color: #7f8caa;
    color: #333446;
}

a {
    color: #333446;
}

ul {
    list-style-type: bullets;
}

.project {
    background-color: #B8CFCE;
    margin: 15px;
    padding: 10px;
    width: 300px;
    float: left;
}

.project img {
    object-fit: fill;
    width: 300px;
}


.projecttitle {
    font-size: 20px;
}

.keywords {
    font-weight: bold;
}

#about {
    padding: 10px;
}

#projects {
    padding: 20px;
}

#contact {
    clear:both;
}

footer {
    margin: 10px;
    font-weight: bold;
    clear: both;
}

nav {
    position: sticky;
    top: 0;
    overflow: hidden;
    background-color: #333446;
}

nav a {
    text-decoration: none;
    font-size: 24px;
    color: #EAEFEF;
    padding: 10px;
}