* {
    font-family: Helvetica, Arial;
    margin: 0;
    padding: 0;
}

header {
    background-color: #333446;
    color: #EAEFEF;
    padding: 10px;
}

body {
    background-color: #7f8caa;
    color: #333446;
}

a {
    color: #333446;
}

.project {
    background-color: #B8CFCE;
    display:inline-block;
    width: 400px;
    margin: 15px;
    padding: 10px;
}

.projecttitle {
    font-size: 20px;
}

.keywords {
    font-weight: bold;
}

#about {
    padding: 10px;
}

#projects {
    padding: 20px;
}

#myimage {
    width: 100px;
}

footer {
    font-weight: bold;
}